h3.home-content{
    font-size: 222%;
    text-align: center;
    margin-top: 4em;
    margin-bottom: 2em;
}
div#container {
    margin: 0 auto;
    height: 20em;
    min-width: 30em;
    max-width: 40em;
}
/* 今日，昨日，一周热门博客类型设置*/
div.hot_data{
    text-align: center;
    margin-top: 2em;
}


